<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Cornerstone.js</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="web-image" routerLinkActive="active">
        Web Image
      </a>
      <a class="nav-link" routerLink="wado-image" routerLinkActive="active">
        WADO Image
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid p-5">
  <router-outlet></router-outlet>
</div>
